<form (ngSubmit)="onHandleUpdate()">
    <fieldset>
        <div class=" form-group">
            <label class="col-md-4 control-label" for="product_id">Name</label>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="product.name" name="name" placeholder="Tên" class="form-control" />
            </div>
        </div>
        <label class="col-md-4 control-label" for="product_id">Gia</label>
        <div class="col-md-4">
            <input type="number" [(ngModel)]="product.price" name="price" placeholder="Giá" class="form-control" />
        </div>
        <label class="col-md-4 control-label" for="product_id">Anh</label>
        <div class="col-md-4">
            <input type="text" [(ngModel)]="product.img" name="img" placeholder="Ảnh" class="form-control" />
        </div>

    </fieldset>
    <button type="submit" class="btn btn-primary bg-block btn-lg">
        Sửa sản phẩm
    </button>
</form>