<div class="table table-bordered">
    <table>
        <thead>
            <tr>
                <th>STT</th>

                <th>Tên</th>
                <th>Giá</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products,index as i">
                <td>{{ i+1}}</td>
                <td>{{ product.name}}</td>
                <td>{{ product.price}}</td>
                <td>
                    <button class="btn btn-danger" (click)="remove(product.id)!">Xoá</button>
                    <button class="btn btn-danger" routerLink="/admin/produc/">Sửa</button>

                </td>
            </tr>
        </tbody>
    </table>
</div>